     body
    {
    text-align:center
    }
        header
        {
            font-size:large
        }
        main
        {
            font-size:small
        }
        footer
        {
            font-size: medium
        }